

<div class="chart-container">
  <ng-container *ngIf="showChart">
    <highcharts-chart
      [Highcharts]="highCharts"
      [constructorType]="chartConstructor"
      [options]="chartOptions"
      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
      [runOutsideAngular]="runOutsideAngular"
      style="width: 100%; height: 400px; display: block"
    ></highcharts-chart>
  </ng-container>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="showChart = false; service.getSelectedAsset('PETR4.SA');">PETR4.SA</button>
  </div>
</div>


